* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: black;
}

/* .bg {
    position: absolute;
    z-index: -10;
    opacity: 100%;
} */

body {
    background-image: url(../Assets/Background/testp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#stat {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 110px;
    margin: 50px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 26px;
    top: 50px;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.stat-image>img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: -5px;
}

.stat-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

#stat>.stat-text>p {
    display: flex;
    align-content: center;
}

#stat>.stat-text>.status {
    margin-top: 2vh;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 14px;
}

#menu {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    height: 390px;
    /* margin: 0px 50px 50px 50px; */
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 26px;
    /* top: 150px; */
    top: 175px;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#menu>.menu-text {
    margin-top: 30px;
    margin-left: 15px;
}

#menu>.menu-text>h3>a {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55px;
}

#menu>.menu-text>h3>a:hover {
    color: #6EE6AC;
    transition: 1s;
}

#menu>.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 275px;
    margin-top: 30px;
}

#menu>.menu-icon>img {
    max-height: 25px;
    max-width: 25px;
    margin-left: -20px;
}

body {
    display: flex;
}

.right-column {
    width: 100%;
    margin-right: 50px;
    margin-bottom: 50px;
}

header>.header-top {
    display: flex;
    flex-direction: row;
    height: 7vh;
    margin-top: 70px;
    margin-bottom: 15px;
}

.header-date {
    margin-left: 10px;
}

.header-date>p {
    width: 200px;
}

.search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search>input {
    text-align: center;
    width: 180px;
    font-size: 12px;
    background-color: white;
    border-radius: 26px;
    margin-block: auto;
    padding: 7px 5px;
    border: none;
    outline: none;
}

.search>img {
    z-index: 12;
    height: 10px;
    display: flex;
    margin-block: auto;
    margin-right: -27px;
}

#profile {
    background-color: white;
    border-radius: 26px;
    padding: 20px;
    padding-inline: 40px;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#profile>div>h1 {
    font-size: 18px;
    margin-bottom: -15px;
}

.pfp-line {
    margin-block: 15px;
}

h1 {
    font-size: 24px;
}

label {
    font-weight: 600;
    font-size: 12px;
}

.profile-line>img {
    width: 100%;
}

.profile-pfp {
    display: flex;
    flex-direction: row;
}

.profile-upload {
    margin-left: 80px;
}

.profile-upload>h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.profile-upload>div {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.profile-upload>div>p {
    color: #444444;
    font-size: 10px;
    font-weight: 500;
    margin-block: auto;
}

.choose {
    font-size: 10px;
    padding: 1px 3px;
    margin-right: 10px;
    border-radius: 3px;
    border: 0.1px solid gray;
}

.submit {
    font-weight: 500;
    padding: 2px 20px;
    border-radius: 5px;
    border: 0.1px solid gray;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-pic>.profile-pfp>div>img {
    height: 150px;
    margin-block: 20px;
    margin-top: 5px;
    border-radius: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.info-left {
    margin-left: 40px;
    width: 30%;
}

.info>div>div {
    padding-block: 5px;
}

input {
    font-size: 10px;
    width: 80%;
    outline: none;
}

.contact-person {
    margin-top: 40px;
    margin-left: 10px;
}

.contact-person>h3 {
    margin-bottom: 10px;
}

.contact-person>div {
    display: flex;
    flex-direction: row;
}

.contact-person>div>img {
    margin-block: 5px;
    margin-right: 10px;
    height: 12px;
}

.contact-person>div>p {
    margin-top: 2px;
}

#pay-upload {
    background-color: white;
    border-radius: 26px;
    padding: 20px;
    padding-inline: 40px;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.upload-receipt {
    background-color: #EAEAEA;
    border-radius: 13px;
    width: 300px;
    padding: 15px;
    padding-top: 25px;
    margin-top: 30px;
    margin: 20px;
    margin-left: 0;
    text-align: center;
}

.upload-receipt>p {
    margin-top: 5px;
    color: #616161;
}

.upload-img:hover {
    cursor: pointer;
}

.upload-input {
    position: absolute;
    opacity: 0;
}

#pay-verified {
    background-color: white;
    border-radius: 26px;
    padding: 70px;
    padding-inline: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#pay-verified>p {
    margin-inline: 220px;
}

#pay-success {
    background-color: white;
    border-radius: 26px;
    padding: 65px;
    padding-inline: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#pay-success>p {
    margin-inline: 220px;
}

#timeline {
    background-color: white;
    border-radius: 26px;
    padding: 20px;
    padding-inline: 40px;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#timeline>div {
    display: flex;
    flex-direction: row;
}

.timeline-left {
    width: 70%;
}

.timeline-right {
    display: flex;
    margin-inline: auto;
    margin-right: 0;
    height: 100%;
}

.timeline-right>img {
    margin-top: 20px;
    margin-inline: auto;
    width: 50%;
}

#timeline>div>.timeline-left>div {
    margin-block: 20px;
    background-color: white;
}

#timeline>div>.timeline-left>div>h3 {
    font-family: "monument_extendedregular";
    font-size: 10px;
    background-color: #6EE6AC;
    padding: 10px 20px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

#timeline>div>.timeline-left>div>p {
    padding: 10px 20px;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.competition-link {
    display: flex;
    justify-content: right;
}

.competition-link>a {
    background-color: #EAEAEA;
    padding: 5px 15px;
    border-radius: 26px;
    text-decoration: none;
    margin: 20px;
    margin-top: -50px;
}

.competition-link>a:hover {
    background-color: #6EE6AC;
    transition: 1s;
}

.competition-link>a>span {
    font-size: 12px;
    font-weight: bold;
}

.competition-link>a>span:hover {
    color: white;
    transition: 0.7s;
}

.circle {
    background-color: #6EE6AC;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-right: -14.2vw;
    float: right;
}

#team {
    background-color: white;
    border-radius: 26px;
    padding: 20px;
    padding-inline: 40px;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#team>h1 {
    font-size: 18px;
    margin-bottom: -15px;
}

#team>img {
    width: 100%;
}

.team-members>div {
    background-color: #EAEAEA;
    border-radius: 13px;
    width: 100%;
    height: 112px;
    padding-block: 10px;
    padding-inline: 30px;
    margin-top: 30px;
    margin: 20px;
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.team-members>div>a {
    width: 100%;
}

.team-members>div>a>img {
    height: 40px;
    margin-block: 4vh;
    margin-left: 90%;
}

.team-members>div>div>img {
    background-color: white;
    height: 90px;
    border-radius: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.member-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-block: 30px;
    width: 400px;
}

.member-text>h3 {
    margin-block: auto;
    margin-left: 20px;
    text-align: left;
}

.member-text>h3:nth-child(2) {
    color: #595959;
    font-weight: lighter;
}
