@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fontlibrary.org//face/metropolis');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

.section {
    height: 100vh;
    width: 100vw;
    /* border-style: solid;
    border-bottom: 3px; */
}

/** Variable */
:root {
    --font-header: 'Poppins', sans-serif;
    --font-paragraph: 'Metropolis', sans-serif;
    --color-white: #ffffff;
    --color-black: #000000;
}

.display-table {
    display: table;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.icon-container {
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconify {
    color: white;
}

.navbar {

    padding-top: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: black;
    color: white;
    border: none;
    border-radius: 7px;
}

.bold {
    font-weight: bold;
}

.line {
    position: absolute;
    content: '';
    background: black;
}

h1 {
    font-family: var(--font-header);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-family: var(--font-header);
}

h5 {
    font-family: var(--font-header);
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
}

p {
    font-family: var(--font-paragraph);
    font-size: 12px;
}
