
.section.sponsors {
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.sponsors .container {
    width: 100%;
    height: 100%;
}

.sponsors .display-table-row {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.platinum-sponsor img {
    width: 237px;
    height: 65px;
}

.platinum-sponsor.picture{
    width: 289px;
    height: 196px;
}

.display-table-cell.gold-sponsor:not(:last-child),
.display-table-cell.silver-sponsor:not(:last-child) {
    margin-right: 40px;
}

.display-table-cell.gold-sponsor .gold1{
    width: 75px;
    height: 91px;
}

.display-table-cell.gold-sponsor .gold2{
    width: 75px;
    height: 29px;
}

.display-table-cell.gold-sponsor .gold3{
    width: 110px;
    height: 69px;
}

.display-table-cell.gold-sponsor.picture{
    width: 100px;
    height: 100px;
}

.display-table-cell.silver-sponsor .silver1 {
    width: 50px;
    height: 56px;
    margin-left: 10px;
}

.display-table-cell.silver-sponsor .silver2 {
    width: 50px;
    height: 30px;
}

.display-table-cell.silver-sponsor.picture{
    width: 80px;
    height: 80px;
    
}

.sponsors h1, 
.sponsors p {
    text-align: center !important;
}

.sponsors p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}